In [1]:
import numpy as np
from Environment import Tetris

pygame 1.9.6
Hello from the pygame community. https://www.pygame.org/contribute.html

In [2]:
np.random.seed(42)

In [3]:
env = Tetris()

In [4]:
memory = env.play()

History lenght: 2010

In [5]:
import pandas as pd

In [22]:
state, action, reward, next_state, done = [[memory[index][field_index] for index in range(len(memory))] for field_index in range(5)]

In [41]:
state_string = []
next_state_string = []

for i in range(len(state)):
    string_a = ""
    string_b = ""
    for j in range(200):
        string_a += str(int(state[i][j]))
        string_b += str(int(next_state[i][j]))
    state_string.append(string_a)
    next_state_string.append(string_b)

In [45]:
dataset = pd.DataFrame(columns=['state', 'action', 'reward', 'next_state', 'done'])

In [48]:
dataset['state'] = state_string
dataset['action'] = action
dataset['reward'] = reward
dataset['next_state'] = next_state_string
dataset['done'] = done

In [49]:
dataset.head()

,state,action,reward,next_state,done
0,0001000000000110000000001000000000000000000000...,0,1,0000000000000100000000011000000000100000000000...,False
1,0000000000000100000000011000000000100000000000...,0,1,0000000000000000000000010000000001100000000010...,False
2,0000000000000000000000010000000001100000000010...,4,1,0000000000000000000000000000000000000000000011...,False
3,0000000000000000000000000000000000000000000011...,0,1,0000000000000000000000000000000000000000000000...,False
4,0000000000000000000000000000000000000000000000...,2,1,0000000000000000000000000000000000000000000000...,False

In [50]:
dataset.to_csv('dataset_tetris.csv')